.imageUpload {
  max-width: 600px;
  margin: 20px auto;
  padding: 0.75rem;
  background-color: white;
  border: 1px solid lightgrey;
}

.writePost__container {
  border-radius: 30px;
  border: 1px solid rgb(124, 129, 131);
  cursor: pointer;
}
.writePost__container:hover {
  background-color: rgb(236, 236, 236);
}
.writePost__main {
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.writePost__main p {
  margin-left: 1rem;
}

.modal {
  margin: 0 auto;
}

.modal__body {
  max-width: 500px !important;
  width: 100%;
}
.modal__formButtons {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imageUpload__text {
  margin-top: 2rem;
  margin-right: auto;
}
.imageUpload__text span i {
  color: green;
}
